body {
    height: 100%;
} 

/* .wrapper {
    height: 100;
} */

.admin {
    height: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-group {
    margin-left: 0px auto;
    max-width: 300px !important;
}

.send-request__btn {
    width: 300px;
    max-width: 300px;
}

.getUpdates__btn {
    width: 300px;
    max-width: 300px;
}

.getId__btn {
    width: 300px;
    max-width: 300px;
}

.flex-space-between {
    margin: 5px 10px;
}

#selectBot {
    width: 300px !important;
}

.custom-dropdown select {
    padding-right: 10px !important; 
}

::selection {
    color: orange;
}